NODE_ENV=
APP_NAME=
LOG_LEVEL=

DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_POOL_MAX=
DATABASE_POOL_MIN=

MACHINE_IP=
PORT=
FRONTEND_URL=

# cors
ALLOWED_ORIGINS=
PROD_ORIGINS=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_DAYS=

EMAIL_FROM=
EMAIL_USER=
EMAIL_PORT=
EMAIL_HOST=
EMAIL_PASS=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

COOKIE_SAMESITE=
COOKIE_SECURE=
COOKIE_DOMAIN=